Flask==0.10.1
Flask-SQLAlchemy==2.0
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
mod-wsgi==4.4.10
psycopg2==2.6
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
requests==2.5.1
SQLAlchemy==0.9.8
Werkzeug==0.9.6
