<html>
    <body>
        <p>Hello, {{username}}<br> <a href="/edit/">Edit</a>
            <br> Add new command:
            <br><form action="/add/"> Command: <input type="text" name="command">
            <br>Response:<input type="text" name="response">
            <br><input type="submit" value="Submit"></form>
            Bot status: {{status}}<br>
            <form action={{action}}> <button type="submit" name="bot" value={{value}}>{{text}}</button></form>
            <br><a href="/logout/">Logout</a>
        </p>
    </body>
</html>
