<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href="resources.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <ul class="navbar">
            <li class="navbar-title"><a href="tacos" class="navbar">Zojibot</a></li>
            <li class="navbar"><a href="tacos" class="navbar">Username</a></li>
            <li class="navbar"><a href="tacos">Home</a></li>
        </ul>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
        <p>---------</p>
    </body>
</html>
